.box-header {
    color: white;
    border: var(--border);
    padding: 4px 10px;
    border-radius: 11px 11px 0 0;
    display: flex;
    align-items: center;
    background-color: #ffabf4;
    font-size: 24px;
    height: 25px;
    background-image: linear-gradient(
        0deg,
        var(--pink-accent-1) 0%,
        var(--pink-accent-2) 50%,
        var(--pink-accent-1) 50%,
        var(--pink-accent-2) 100%
    );
    border-bottom: none;
    cursor: grab;
}

.box-header > span {
    image-rendering: pixelated;
    background-image: url("/assets/box_stars.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 31px;
    user-select: none;
    cursor: grab;
}

.box-container {
    border: var(--border);
    background-color: var(--background);
    display: inline-block;
    height: 10.5em;
    padding: 10px;
    background: repeating-linear-gradient(
        to bottom,
        var(--background) 0px,
        var(--background) 20px,
        lightgray 21px
    );
    line-height: 1.8;
}

#links li {
    line-height: 1.2;
}

.box-container,
.box-header {
    width: 143px;
}

.box-wide {
    width: 333px;
}

.box-wrapper {
    position: relative;
    height: 10.5em;
}
