---
import "../styles/common.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/assets/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>糟糕！</title>
    </head>

    <body>
        琪露諾找不到你的網頁！
        <br /><br />
        <img src="/assets/404.webp" style="width: 150px; display: block;" />
        <br /><br />
        <a href="/">回家 &raquo;</a>
    </body>
</html>
