---
import "../styles/header.css";
---

<table id="header">
    <tbody>
        <tr id="header-top">
            <td> choi.nekoweb.org - 围墙花园這邊最萌網站！ </td>
            <td align="right">
                <img src="/assets/frame_topright.png" />
            </td>
        </tr>
        <tr id="header-bottom">
            <td>
                <a href="javascript:history.back()">
                    <img src="/assets/frame_backward.png" />
                </a>
                <a href="javascript:history.forward()">
                    <img src="/assets/frame_forward.png" />
                </a>
                <a href="/">
                    <img src="/assets/frame_home.png" />
                </a>
            </td>
            <td align="right" colspan="2">
                <img src="/assets/button_nso.gif" />
                <img src="/assets/button_cinnamoroll.gif" />
                <img src="/assets/button_miku.gif" />
                <img src="/assets/button_piracy.gif" />
                <img src="/assets/button_web3.gif" />
                <a href="https://nekoweb.org/">
                    <img src="https://nekoweb.org/assets/buttons/button8.gif" />
                </a><!-- button by fujoshi.nekoweb.org -->
            </td>
        </tr>
    </tbody>
</table>
